<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>
  <div th:if="${room}">
    エントリー
    <ul>
      <!--roomオブジェクトのroomNoというフィールドを指定している-->
      <!--<li>RoomNo:[[${room.roomNo}]]</li>-->
      <!--eachは所謂for each．この場合roomオブジェクトのusersフィールドにあるすべてのデータを一通り表示する
        thが指定されているので[]が不要になる-->
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <div>
    [[${name}]]
  </div>
  <div>
    <a href="lec02janken?me=Gu">ぐー</a>
    <a href="lec02janken?me=Choki">ちょき</a>
    <a href="lec02janken?me=Pa">ぱー</a>
  </div>
  <div th:if="${janken}">
    <p>あなたの手 [[${me}]]</p>
    <p>相手の手 [[${you}]]</p>
    <p>結果 [[${j}]]</p>
  </div>
</body>

</html>
